<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity
            android:name="com.airbnb.android.showkase.ui.ShowkaseBrowserActivity"
            android:theme="@style/Theme.StayScout.Debug"
            tools:node="merge"
            tools:replace="android:theme" />
    </application>

</manifest>